<!-- Header -->
    <div class="intro-header">
        <div class="container">
             <div class="col-md-12">
						<div class="row">
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">
										<!-- Brand and toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<a class="navbar-brand" href="#">YOUR PROFILE RATING</a>
										</div>
									</div><!-- /.container-fluid -->
								</nav>
						</div>
				</br>
				</br>
				</br>
				</br>
										<div class="container" ng-app="frontendApp" ng-controller="appController">
						<div>
							<div class="alert alert-success"> <span class="label label-info">Star Rating: Read/Write</span>

								<div star-rating rating="starRating1" read-only="false" max-rating="10" click="click1(param)" mouse-hover="mouseHover1(param)" mouse-leave="mouseLeave1(param)"></div>
								<div> <span class="label label-primary">Star Rating: {{starRating1}}</span>
					 <span class="label label-primary">Hover Rating: {{hoverRating1}}</span>

								</div>
							</div>
							<div class="alert alert-danger"> <span class="label label-info">Star Rating: ReadOnly</span>

								<div star-rating rating="starRating2" read-only="true" max-rating="7" click="click2(param)" mouse-hover="mouseHover2(param)" mouse-leave="mouseLeave2(param)"></div>
								<div> <span class="label label-primary">Star Rating: {{starRating2}}</span>
					 <span class="label label-primary">Hover Rating: {{hoverRating2}}</span>

								</div>
							</div>
							<div class="alert alert-info"> <span class="label label-info">Star Rating: Read/Write(with default values for readOnly & maxRating)</span>

								<div star-rating rating="starRating3" click="click3(param)" mouse-hover="mouseHover3(param)" mouse-leave="mouseLeave3(param)"></div>
								<div> <span class="label label-primary">Star Rating: {{starRating3}}</span>
					 <span class="label label-primary">Hover Rating: {{hoverRating3}}</span>

								</div>
							</div>
						</div>
					</div>

				</br>
				</br>
				</br>
				</br>
				</br>

        </div>

                <!-- /.container -->

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>

